.pull-right li{
	float: right;
	color: #ffffff;
}

.header{
	margin-top: 15px;
	overflow: hidden;
	background-color: #333;
}

.li-group li{
	clear: both;
	position: relative;
}


.li-group:hover .dropdown-menu{
	display: block;
}


.pull-right{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.pull-right .dropdown-menu{
	list-style-type: none;
	position: absolute;
}


.dropdown-menu{
	background-color: rgba(0, 0,0 ,0.5);
	margin: 0;
	padding: 0;
	display: none;
}

.li-split{
	font-size: 30px;
}

.header a{
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 13px 25px;
  text-decoration: none;
}
 .header a:hover {
   background-color: #ddd;
   color: black;
 }
 .header .index{
	 background-color: #00aaff;
	 font-weight: 600;
	 color: #000;
	 float: left;
 }
 
 .panel{
	 margin-top: 15px;
	 border-style: solid;
	 border-width: 1px;
 }
 
 
 /*通用的去ul默认格式*/
ul,li {
	margin: 0;
	padding: 0;
	list-style: none;
}

.box{
	float: left;
	width: 100px;
	height: 500px;
	border-right: solid;
	border-width: 1px;
	color: #000;
}

.tabs ul{
	width: 100%;
	height: auto;
	float: left;
	border-style: solid;
}

.tabs li{
	position: relative;
	height: 30px;
	text-align: center;
	/* float: left; */
	width: 96px;
	font-size: 20px;
	margin: 3px;

	
}
.panel{
	height: 500px;
	overflow: hidden;
}

.panel a{
	display: block;
	color: #000000;
	text-align: center;
	text-decoration: none;
}

.panel a:hover{
	display: block;
	height: 100%;
	background-color: #ebebeb;
	text-align: center;
	text-decoration: none;
}
 
 .panel .active{
	 border-top: 1px solid #000 ;
	 border-bottom: 1px solid #000;
	 border-right: 1px solid #ffffff;
	 border-left: 1px solid #000;
 }
 
 #form-change-info,#form-change-pwd{
	 margin-top: 20px;
 }
 
 
 .form-group .label{
	font-size: 25px;
	width: 200px;
	float: left;
	text-align: right;
	padding-right: 15px;
	padding-left: 15px;
	margin-bottom: 15px;
 }
 
 .form-group input{
	font-size: 25px;	 
	padding-left: 10px;
	margin-bottom: 15px;
 }
 
 .form-group .radio-inline {
	 font-size: 25px;
 }
 
 
 .form-group1{
	 margin-top: 15px;
 }
 .form-group1 .label{
	 font-size: 25px;
	 width: 200px;
	 float: left;
	 text-align: right;
	 padding-right: 15px;
	 padding-left: 15px;
	 margin-bottom: 15px;
 }
 .form-group1 span{
	 font-size: 25px;
 }
 
.form-group2{
	margin-top: 50px;
	margin-left: 360px;
}
.form-group2 input{
	font-size: 25px;
	width: 100px;
}