a{
    text-decoration: none;
}

	 
.main .label h3{
	font-size: 25px;
	color: #000000;
}
.main .label h3:before{
	white-space: pre;
	content: "  ";
	background-color: #aaff7f;
	margin-right: 20px;
}

.main .label a{
	color: #000;
	text-decoration: none;
	font-size: 20px;
	margin-right: 20px;
}

.main .label a:hover{
	color: #00aaff;
}

.responsive .time{
    font-size: 10px;
    text-align: center;
}

.responsive .img {
    border-radius: 10px;
    overflow: hidden;


    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 320px;
}

.responsive .img_div{
    width: 329px;
    height: 239px;
}

.responsive .img:hover {
    border: 1px solid #777;
}

.responsive .img img {
    width: 100%;
    height: 100%;

    object-fit: cover;


}

.responsive .desc {
    color: #333333;
    padding: 15px;
    text-align: center;
}


.clearfix:after {
    content: "";
    display: table;
    clear: both;
}